@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 50;
  src: url("../../assets/font/webfonts/Vazirmatn-Light.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/font/webfonts/Vazirmatn-Thin.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/font/webfonts/Vazirmatn-ExtraLight.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/font/webfonts/Vazirmatn-Medium.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/font/webfonts/Vazirmatn-Regular.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: Bold;
  src: url("../../assets/font/webfonts/Vazirmatn-Bold.woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/font/webfonts/Vazirmatn-ExtraBold.woff2");
}
